In [1]:
'jai guru dev'
'om gam ganapatayenamah'

'om gam ganapatayenamah'

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:myPassword@localhost:5432/optionchain')
import matplotlib as mlt

In [52]:
df = pd.read_sql('SELECT * FROM INFORMATION_SCHEMA.TABLES',engine)
data = {x:pd.read_sql(f'select * from "{x}"',engine) for x in df['table_name'] if x.isupper()}

In [53]:
df2 = data['NIFTY']
df2['timestamp'] = pd.to_datetime(df2['timestamp'])
df2['date'] = [a.date() for a in df2['timestamp']]
df2['time'] = [a.time() for a in df2['timestamp']]
x = df2.groupby(['expiryDate','strikePrice','date'],as_index=False)
# v[1]['date'] == datetime.today().date()).all() and
dfsoi = {v[0]:v[1].set_index(['time']) for v in x }
dfsoi = {v:dfsoi[v].drop(['expiryDate','strikePrice','timestamp','date'],axis=1) for v in dfsoi}

In [5]:
#     z = z*10000/z.shift(1)-10000
#     ti = str(key[0].date())+' , '+str(key[1])
#     z.plot(title = ti,use_index=True, y=["call_LP", "call_OI"])
#     z.plot(title = ti,use_index=True, y=["put_LP","put_OI"])
#     if key[1] == 600 and str(key[0])=='2021-05-27 00:00:00':
#         break

In [7]:
for key in dfsoi:    
    z = dfsoi[key]

In [54]:
keys = [key  for key in dfsoi if key[2]==datetime(2021,5,12).date() and key[1]==15000]

In [41]:
for x in keys:
    y = dfsoi[x]
    break

In [27]:
datetime(2021,5,12).date()

datetime.date(2021, 5, 12)

In [58]:
dfsoi[keys[0]]

             value   call_OI  call_LP  call_IV   put_OI  put_LP  put_IV
time
10:00:04  14757.25  102251.0     1.80    17.31  14996.0  248.00   23.48
10:05:03  14760.20  103004.0     1.80    16.77  15020.0  246.60   24.60
10:10:03  14766.35  103589.0     1.75    16.77  15027.0  248.50   24.60
12:00:13  14731.15  101985.0     1.05    17.07  14889.0  276.00   26.11
12:05:04  14736.70  100917.0     1.00    16.87  15016.0  277.30   27.99
12:10:03  14753.25   99552.0     1.05    16.87  14880.0  255.70   27.99
12:15:04  14754.90   99370.0     1.10    15.79  14281.0  252.65   26.13